.userspace
  .userspace__selfname
    .userspace__selfname--content
      .userspace__selfname--content-name
        = current_user.name
        .userspace__selfname--content-indent
          = link_to new_group_path do
            .far.fa-edit
          = link_to edit_user_path(current_user) do
            .fas.fa-cog
  .userspace__group
    .userspace__group--list
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .userspace__group--list-name
            = group.name
          .userspace__group--list-messages
            メッセージはまだありません。
          .userspace__group--list-name
            = group.name
          .userspace__group--list-messages
            クルーーーーーーーーー
          .userspace__group--list-name
            = group.name
          .userspace__group--list-messages
            羽生譲れない
