.userspace
  .userspace__selfname
    .userspace__selfname--content
      .userspace__selfname--content-name
        = current_user.name
        .userspace__selfname--content-indent
          = link_to ".far.fa-edit", new_group_path
          = link_to ".fas.fa-cog", edit_user_path(current_user)
  .userspace__group
    - @groups.each do |group|
      .userspace__group--list
        = link_to group_messages_path(group) do
          .userspace__group--list-name
            = group.name
          .userspace__group--list-messages
            = group.show_last_message
